* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  max-width: 1320px;
  margin: auto;
}
/* Shared classes */
.btn-primary {
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 16px 32px;
  text-transform: uppercase;
  border: none;
}

/* Header section styles */

.header {
  position: relative;
  border-radius: 16px;
  background-image: url(../resources/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  z-index: 10;
}
.header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: 16px;
  width: 100%;
  background: linear-gradient(to bottom, #070211, transparent);
  z-index: 1;
}
.header-heading3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.header-heading1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* Discount section styles */
.discount {
  display: flex;
  justify-content: center;
  margin: 120px 0;
}

.discount-heading {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}

.discount-text {
  margin: 48px 0 8px 0;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.discount-subheading {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 48px;
}

/* Welcome section styles */

.welcome {
  padding-top: 126px;
  padding-left: 126px;
  position: relative;
  border-radius: 16px;
  background-image: url(../resources/Vectorrr.png);
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin-bottom: 120px;
}
.welcome::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  width: 100%;
  background: linear-gradient(to right, #070211, transparent);
  z-index: 1;
}
.welcome-content {
  position: relative;
  z-index: 10;
  width: 60%;
}
.welcome-heading {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 25px 0;
}

/* Event details section starts */

.event-details {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  text-align: center;
  border-radius: 16px;
}

.event-details .details {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.details .red-text {
  color: #f00;
}

/* Best offers styles */

.best-offers {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-content1 {
  margin-left: 70px;
}
.best-content1-subheading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.best-content1-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.best-offers-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-right: 70px;
  line-height: 32px;
}
.best-content2 {
  margin-right: 120px;
}

.best-content2 img {
  border: 49px solid #fff;
  outline: 15px solid #f00;
  border-radius: 50%;
}
.best-content3-heading {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.best-content3 .best-offers-description {
  margin: 16px 0 45px 0;
}

/* Holidays Sale section styles */

.holidays-sale {
  margin-bottom: 120px;
}
.holidays-title {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.holidays-sale-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  margin: 16px 0 28px 0;
}
.sale-red-style {
  color: #f00;
}

.holidays-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}

.box-img {
  margin-bottom: -235px;
}

.holidays-img-content {
  display: flex;
  justify-content: space-between;
}
.person-img {
  position: relative;
}
.person-img-container {
  text-align: end;
  display: flex;
  justify-content: end;
}
.person-img .holiday-person-img {
  border-radius: 16px 16px 0 0;
  margin-bottom: -5px;
}
.person-img .discount-img {
  position: absolute;
  top: 10%;
  left: -135px;
  z-index: 10;
}
.red-design {
  width: 100%;
  height: 229px;
  border-radius: 16px 0 16px 16px;
  background: #f00;
}

/* Awesome portfolio section styles */

.awesome-portfolio {
  margin-bottom: 120px;
}
.portfolio-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.portfolio-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 16px 0 22px 0;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  width: 66%;
}

.all-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-img-container {
  width: 32%;
}
/* Subscribe newsletter section styles */
.subscribe-newsletter {
  margin-bottom: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}

.sub-img-container {
  text-align: center;
}
.subscribe-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 40px 0 22px 0;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: auto;
  margin-bottom: 48px;
  width: 65%;
}
.subscribe-form {
  text-align: center;
}
.subscribe-form input[type="email"] {
  padding: 25px 30px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background: #fff;
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  width: 33%;
}
.subscribe-form input[type="submit"] {
  border-radius: 0 50px 50px 0;
  padding: 23px 56px;
  margin-left: -2px;
}

/* Footer styles */

.footer {
  background: #070211;
  padding: 120px 140px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-top p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.contact-info .phone,
.contact-info .website {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-middle {
  padding: 48px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-middle .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-bottom p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
