* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1320px;
  margin: auto;
}

/* Header section styles */

.header {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(to bottom, #070211, transparent);
  background-image: url(../resources/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  z-index: 10;
}
.header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-radius: 16px;
  width: 100%;
  background: linear-gradient(to bottom, #070211, transparent);
  z-index: 1;
}
.header-heading3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.header-heading1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
